body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAEBD7;
}

h1.heading {
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px 0;
    border-radius: 5px;
}
.fabric-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fabric {
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

.fabric-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}



.fabric-detail-container {
    text-align: left;	/* Ensures the text (description and info) is left-aligned */
    margin: 20px;
}

.fabric-detail-image {
    display: block;  /* Makes the image a block element */
    margin: 0 auto 20px auto; /* Centers the image horizontally */
    width: 300px; /* Default width of the image */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure image doesn't overflow the container */
    border-radius: 10px;
}

.fabric-description {
    margin-bottom: 20px; /* Space between description and info */
	color: black;
	font-size: 20px;
}

.fabric-info {
    margin-top: 10px;
}


.details-box {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #45a049;
}
